:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: url('/task.png');
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: 'PlayFairDisplay-SemiBoldItalic';
  src: url('/fonts/PlayfairDisplay-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AbrilFatface-Regular';
  src: url('/fonts/AbrilFatface-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay-Black';
  src: url('/fonts/PlayfairDisplay-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairRegular';
  src: url('/fonts/Cookie-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.containers {
  padding: 0px 45px 45px 45px;
}

.positions {
  position: relative;
}

.why_us {
  position: absolute;
  left: 8.3rem;
  bottom: -16px;
  color: #f59e0b;
  border: 1px solid #f59e0b;
  border-radius: 50px;
  width: 85px;
  height: 35px;
  text-align: center;
  padding: 5px;
  font-size: 15px;

  font-family: 'PlayFairDisplay-SemiBoldItalic';
}

.frequent_container {
  margin-top: 3rem;
}

.second_border {
  position: absolute;
  left: 80px;
  bottom: 0px;
  color: #f59e0b;
  border: 1px solid #f59e0b;
  width: 53px;
}

.second_border_two {
  position: absolute;
  left: -1px;
  bottom: 0px;
  color: #f59e0b;
  border: 1px solid #f59e0b;
  width: 38px;
}

.welcome_cls {
  border-left: 1px solid #f59e0b;
  height: 110px;
  margin-left: 79px;
}

.welcome_class {
  border-left: 1px solid #f59e0b;
  height: 110px;
  margin-left: 0px;
}


.why_us_two {
  position: absolute;
  left: 2.3rem;
  bottom: -16px;
  color: #f59e0b;
  border: 1px solid #f59e0b;
  border-radius: 50px;
  width: 85px;
  height: 35px;
  text-align: center;
  padding: 5px;
  font-size: 15px;
  font-family: 'PlayFairDisplay-SemiBoldItalic';
}

.choose-us-section {
  padding: 3rem 1rem;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.choose-us-section .highlight {
  color: #b60048;
  font-weight: bold;
  font-size: 2.5rem;
}

.definitions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.section_vintage {
  font-family: 'PlayfairDisplay-Black';
  font-size: 1.4rem;
}

.section_vintage_two {
  margin-left: 3.5rem;
}

.features {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
  flex-wrap: wrap;
  justify-content: center;
}

.feature {
  flex: 1 1 250px;
  text-align: center;
}

.feature img {
  border: 4px solid #f59e0b;
  margin-bottom: 1rem;
  border-radius: 50%;
  padding: 40px;
}


.why_cls {
  font-family: 'PlayfairDisplay-Black';
}

.underline {
  margin: 15px;
  width: 30%;
  text-align: center;
  margin-left: 40%;
  margin-right: 30%;
  border-bottom: 2px solid lightgray;
}

.underlines {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid lightgray;
}

.introduction-section {
  color: rgb(163, 159, 159);
  font-size: 15px;
}

.orange {
  color: #f59e0b;
  font-family: 'PlayfairDisplay-Regular';
  font-size: 1.5rem;
  font-weight: 600;
}

.green {
  color: #10b981;
  font-family: 'PlayfairDisplay-Regular';
  font-size: 1.5rem;
  font-weight: 600;
}

.red {
  color: #ef4444;
  font-family: 'PlayfairDisplay-Regular';
  font-size: 1.5rem;
  font-weight: 600;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;

}

.dark-btn {
  background-color: #333;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.orange-btn {
  background-color: #f59e0b;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.golden-rule {
  text-align: center;
  margin-top: 5rem;
}

.golden-rule .gold {
  margin: 0;
  color: #fbbf24;
  font-size: 3rem;
  font-family: 'AbrilFatface-Regular';
  letter-spacing: 3px;
}

.quote {
  font-family: 'PlayfairDisplay-SemiBoldItalic';
  font-size: 2rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.frequent-research h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.red_underline {
  margin-top: 15px;
  width: 100%;
  border-bottom: 10px solid rgb(126, 64, 64);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 250px;
  text-align: center;
}

.card img {
  width: 100%;
  margin-bottom: 1rem;
}

.group_of {
  margin-top: 1rem;
  font-family: 'PlayfairRegular';
  font-size: 2.5rem;
}
